.nav{
    z-index: 1000;
    background-color: white;
    padding: 1vmax;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(43 ,43,43,0.137);
}
.Logo
{
    background-color: orangered;
    width: 58px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    right: 2vmax;
}
#logoImage:hover
{
    transform: translateX(-58px);
    transition: 0.1s;
}
.navlinks
{
    color: rgb(59,59,59);
    text-decoration: none;
    margin: 1vmax 1.2vmax;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1.1vmax;
}
.navlinks:hover
{
    text-decoration: none;
    color: orangered;
}
.searchBox
{
    position: relative;
    left: 5vmax;
}
.searchBox > input{
    border: none;
    border-bottom: 1px solid rgba(128,128,128,0.76);
    width: 15vmax;
    font-size: 1.1vmax;
    outline: none;
    color:rgb(61,61,61) ;
    font-weight: 100;
}
.searchBox > svg{
    fill: rgb(61,61,61);
}