.ProductReviews{
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: center;
}
.ProductReviews1{
    margin: 0.5vmax;
    background-color: white;
    padding-bottom: 2vmax;
    cursor: pointer;
    transition: all 0.5s;
}
.ProductReviews2{
    margin: 0.5vmax;
    background-color: white;
    padding-bottom: 2vmax;
    cursor: pointer;
    transition: all 0.5s;
}
.ProductReviews1:hover{
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53,53,53,0.365);
}
.ProductReviews2:hover{
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53,53,53,0.365);
}
.ProductReviews1 h5{
    margin: 2vmax 0 0.5vmax 2vmax;
    color: rgb(94,94,94);
}
.ProductReviews1 h4{
    color: rgb(94,94,94);
    margin: 0 2vmax;
    font-size: 1vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}.ProductReviews1 span{
    color:orangered;
    font-size: 1vmax;  
}
.ProductReviews2 h5{
    margin: 2vmax 0 0.5vmax 2vmax;
    color: rgb(94,94,94);
}
.ProductReviews2 h4{
    color: rgb(94,94,94);
    margin: 0 2vmax;
    font-size: 1vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ProductReviews2 span{
    color:orangered;
    font-size: 1vmax;  
}
