.starProduct
{
   display:flex;
   justify-content:center;
   align-items:center;
}
.starProduct>div:last-child
{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}
.starProduct img
{
    transition: all 0.5s;
}
.starProduct img:hover
{
    box-shadow: 6px 6px 15px rgba(53,53,53,.363);
}